html{
  background-color: rgba(4, 3, 2, 0.04);
  margin-left: 20px
}

div {
  margin-bottom: 10px;
  border: 0.5px solid black;
  border-radius:0px;
}

.no-border {
  border: 0px;
}

h1 {
  background-color:rgba(32, 28, 28, 0.05);
  border-radius: 1px;
  font-family: 'Artifika', serif;
  padding-left: 20px;
  padding-right: 20px;
}

h2 {
    background-color: rgba(32, 28, 28, 0.05);
    border-radius: 1px;
    font-family: 'Source Code Pro', monospace;
    padding-left: 20px;
    padding-right: 20px;
}

p,ul,ol {
     font-family: 'Average Sans', sans-serif;
     font-size: 18px;
}

h2, h1 {
    text-align: left;
    text-transform: uppercase;
}

.date {
  font-style: italic;
}

#info-and-photo p img {
  margin-top: 20px;
  margin-left: 50px;
  width: 235px;
}
