body {
  margin: 0 auto;
  width: 1000px;
}
#body {
  background-image: url(../static/shopping.jpg);
  background-repeat: no-repeat;
  min-height: 600px;
}

#item {
  border: 1px solid red;
}

#add {
  padding: 4px;
  border: 1px solid black;
}

.list {
  margin: 0 auto;
  width: 700px;
}

h1 {
  color: darkmagenta;
  font-style: italic;
  font-size: 4em;
}

ul {
  list-style: none;
}

/**ul li {
  color: blue;
}*/

.far {
  color: red;
  margin: 4px;
}

li {
  font-family: 'Rancho', cursive;
  font-size: 20px;
}

label {
  color: red;
  font-size: 1.5em;
}