p#footer {
  border-top: 10px solid black;
  background-color: white;
  padding-top: .5em;
  margin-left: 0;
}

p{
  color: red;
  background-color: lightgrey;
  margin-left: 1em;
  margin-right: 2em;
}
